<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Server Error | {{ exception }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <meta name="description" content="default error {{ exception }}">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/boilerplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="/boilerplate/css/bootstrap-responsive.min.css">

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>

<div class="container">
    <h1 style="margin-bottom: 1em;">We&rsquo;re sorry &mdash; something has gone wrong on our end.</h1>

    <div>
        <p class="label">Error: {{ exception }}</p>
        <h2>What could have caused this?</h2>
        <ul>
            <li>Well, something technical went wrong on our site.</li>
            <li>We might have removed the page when we redesigned our website.</li>
            <li>Or the link you clicked might be old and does not work anymore.</li>
            <li>Or you might have accidentally typed the wrong URL in the address bar.</li>
        </ul>

        <h2>What you can do?</h2>
        <ul>
            <li>You might try retyping the URL and trying again.</li>
            <li>Or we could take you back to the <a href="/">home page</a>. </li>
        </ul>

        <div>
            <strong>One more thing:</strong><br />
            If you want to help us fix this issue, we are here to help.
            Please contact us and <a href="/contact/?exception={{ exception }}-{{ url }}">let us know what went wrong</a>.
        </div>
    </div>
</div>

</body>
</html>
