{% extends base_layout %}

{% block header_title %}
{% trans %}Links{% endtrans %}
{% endblock %}

{% block content %}
<table class="table">
  {% for u in urls %}
  <tr>
    <td>
      <div class="well well-small">
        <a style="font-size:1.5em;" href="{{ u.url }}" target="_blank">{{ u.url }}</a><br/>
        <div class="tags">
          {% for t in u.labels %}
          <a href="/tags/{{t}}/list"><span class="icon-tag"></span><i style="font-size: 0.8em"> {{ t }}</i></a>&nbsp;&nbsp;
          {% endfor %}
        </div>
        <div class="tldr">
          {% if u.tldr %}
          <blockquote>{{ u.tldr }}</blockquote>
          {% endif %}
          {% if not u.tldr %}
          <a href="/links/{{ u.key.id() }}/edit">
            <span class="label label-default">
              This link is not summarized yet. Want to fill in a short summary?
            </span>
          </a>
          {% endif %}
        </div>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
