{% extends base_layout %}

{% block header_title %}
    {% trans %}Edit tag #{{tag_name}}{% endtrans %}
{% endblock %}

{% block content %}
<form id="form_edit_tag" action="{{ url|safe }}" method="post" class="well form-horizontal">
    <fieldset>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        {{ macros.field(form.tag_name, label=_("Tag"), placeholder=_("Enter your")+" "+_("Tag"), class="input-xlarge focused uneditable-input") }}
        {{ macros.field(form.tag_desc, label=_("Description"), placeholder=_("Enter your")+" "+_("Tag Description"), class="input-xlarge focused required") }}
        {{ macros.field(form.tag_meta, label=_("Meta"), placeholder=_("Enter your")+" "+_("Tag Meta"), class="input-xlarge focused required") }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans %}Update Tag{% endtrans %}</button>
        </div>
    </fieldset>
</form>
{% endblock %}
