{% extends base_layout %}

{% block header_title %}
    {% trans %}Tags{% endtrans %}
{% endblock %}

{% block content %}
<table class="table">
{% for tag in tags %}
    <tr>
        <td>
            <a href="/tags/{{ tag.name }}/show">{{ tag.name }}</a>
            {% if tag.desc %}
            <br/>
            <div class="tldr">
                <blockquote>{{ tag.desc }}</blockquote>
            </div>
            {% endif %}
            {% if not tag.desc %}
                <a style="float:right" href="{{ uri_for("edit-tag", tag_name = tag.name) }}" rel="tooltip" title="This tag is not summarized yet. Want to fill in a short description?"><span class="icon-question-sign"></span>{{ _("Edit Tag") }}</a>
            {% endif %}
            <div class="tags">
                <ul>
                {% for l in tag.links %}
                    <li><a href={{l.url}}"><span class="icon-bookmark"></span> {{ l.url }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
