{% extends base_layout %}

{% block header_title %}
    {% trans %}Links tagged with #{{label}}{% endtrans %}
{% endblock %}

{% block content %}
<table class="table">
{% for u in urls %}
    <tr>
        <td>
            <div class="well well-small">
                <a href="/links/{{ u.key.id() }}/show">{{ u.url }}</a><br/>
            </div>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
