{% extends base_layout %}

{% block header_title %}
    {% trans %}Links{% endtrans %}
{% endblock %}

{% block content %}
<div class="well well-small">
    <a style="font-size:1.5em;" href="{{ uri }}" target="_blank">{{ uri }}</a><br/>
    <div class="tags">
        {% for t in labels %}
            <a href="/tags/{{t}}/list"><span class="icon-tag"></span><i style="font-size: 0.8em"> {{ t }}</i></a>&nbsp;&nbsp;
        {% endfor %}
    </div>
    <div class="tldr">
    {% if tldr %}
        <blockquote>{{ tldr }}</blockquote>
    {% endif %}
    {% if not tldr %}
        <a href="/links/{{ link_id }}/edit/">
            <span class="label label-default">
                This link is not summarized yet. Want to fill in a short summary?
            </span>
        </a>
    {% endif %}
    </div>
</div>
{% endblock %}
