{% extends base_layout %}

{% block header_title %}
    {% trans %}Edit Link Info{% endtrans %}
{% endblock %}

{% block content %}
<form id="form_edit_link" action="{{ url | safe }}" method="post" class="well form-horizontal">
    <fieldset>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        {{ macros.field(form.url, label=_("Link"), placeholder=_("Enter your")+" "+_("Link"), class="input-xxlarge focused required uneditable-input url") }}
        {{ macros.field(form.tldr, label=_("TL;DR"), placeholder=_("Enter your")+" "+_("TL;DR"), class="input-xxlarge focused required") }}
        {{ macros.field(form.tags, label=_("Meta"), placeholder=_("Enter your")+" "+_("Tags"), class="input-xxlarge focused required") }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans %}Update Link{% endtrans %}</button>
        </div>
    </fieldset>
</form>
{% endblock %}
