{% import "macros.html" as macros %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ locale_language_id }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ locale_language_id }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="generator" content="Google App Engine Boilerplate 2.2.0-beta rev481 (g39c9e33)">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    {% if is_mobile %}
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {% endif %}
    <link rel="stylesheet" href="/boilerplate/css/boilerplate.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {% block mediaCSS %}{% endblock %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
        {% if google_analytics_domain != "" %}
        _gaq.push(['_setDomainName', '{{ google_analytics_domain }}']);
        {% endif %}
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance. -->
    <script src="/boilerplate/js/libs/modernizr-2.6.1.min.js"></script>
</head>
<body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
           chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 8]>
    	<p class=chromeframe>{% trans %}Your browser is <em>ancient!</em>{% endtrans %} 
    	{% trans %}<a href="http://browsehappy.com/">Upgrade to a different browser</a>
    	or <a href="http://www.google.com/chromeframe/?redirect=true">
    	install Google Chrome Frame</a> to experience this site.{% endtrans %}</p>
    <![endif]-->

    <div id="page">
        {% block navbar %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-chevron-down icon"></span>
                </button>
                <a class="brand" href="/">{{ app_name }}</a>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        {% if user_id %}
                        <li><a href="/dashboard"><span class="icon-globe" ></span> {% trans %}Dashboard{% endtrans %}</a></li>
                        <li><a href="/links"><span class="icon-bookmark" ></span> {% trans %}Links{% endtrans %}</a></li>
                        <li><a href="/tags"><span class="icon-tags" ></span> {% trans %}Tags{% endtrans %}</a></li>
                        {% endif %}
                        {% if locale_iso %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans %}Language{% endtrans %} : {{ locale_language }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            	{% for l in locales %}
                                {% if str(locale_iso) != l %}<li><a href="{{ path_for_language }}&hl={{ l }}">{{ locales[l] }}</a></li>{% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if user_id %}
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@{{ username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ uri_for("edit-profile") }}">{% trans %}Edit Profile{% endtrans %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ logout_url }}">{% trans %}Logout{% endtrans %}</a></li>
                            </ul>
                        </li>
                        {% elif path != "/" and path != "/login/" %}
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Login{% endtrans %} <b class="caret"></b></a>
                            <div class="dropdown-menu well">
                                <form id="form_login_user" action="{{ uri_for("login") }}" method="post" class="auth-at-dropdown">
                                    <fieldset>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                        <div class="control-group">
                                            <label class="control-label" for="l_username">{% trans %}Username or Email{% endtrans %}:</label>
                                            <div class="controls">
                                                <input class="input-xlarge focused required" id="l_username" name="username" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="l_password">{% trans %}Password{% endtrans %}:</label>
                                            <div class="controls">
                                                <input class="input-xlarge focused required" id="l_password" name="password" type="password" value="">
                                            </div>
                                        </div>
                                        <div class="control-group row-fluid">
                                            <label class="checkbox span7">
                                                <input type="checkbox" name="remember_me" id="remember_me" value="on">
                                                {% trans %}Remember me?{% endtrans %}
                                            </label>
                                            <div class="span5">
                                                <button type="submit" class="btn btn-primary btn-small btn-login">{% trans %}Login{% endtrans %}</button>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a>
                                        </div>
                                        {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
        {% endblock %}

        <div id="content" class="container xled">
            {% block header %}
            <header class="navbar" id="overview">
                {% block header_title_lead %}
                <h1>{% block header_title %}{{ app_name }}{% endblock %}</h1>
                <p class="lead">
				</p>
                {% endblock %}
                <!--div class="subnav">
                    <ul>
                        <li> {% if path == uri_for("contact") %} class="active"{% endif %}><a href="{{ uri_for("contact") }}">{% trans %}Contact{% endtrans %}</a></li>
                        {% if not user_id %}
                        <li{% if path == uri_for("register") %} class="active"{% endif %}><a href="{{ uri_for("register") }}">{% trans %}Sign Up{% endtrans %}</a></li>
                        <li{% if path == uri_for("password-reset") %} class="active"{% endif %}><a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
                </div-->
            </header>
            {% endblock %}

        {% if messages|safe %}
        	{% for message in messages %}
            <p class="alert alert-{{ message[1]|safe }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message[0]|safe }}
            </p>
            {% endfor %}
        {% endif %}
            {% block content %}{% endblock %}

            {% block footer %}
            <footer>
                <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
                <img src="/img/gaebp.png" alt="Powered by Google App Engine Boilerplate" title="http://appengine.beecoss.com/"/>
            </footer>
            {% endblock %}
        </div><!-- /content -->
    </div><!-- /page -->

    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/boilerplate/js/libs/jquery.min.js"><\/script>')</script>
    <script src="/boilerplate/js/libs/bootstrap.min.js"></script>

    <!-- scripts concatenated and minified via build script -->
    <script src="/boilerplate/js/plugins.js"></script>
    <script src="/boilerplate/js/script.js"></script>
    <script src="/js/script.js"></script>
    {% if locale_language_id != "en" %}
    <script src="/boilerplate/js/libs/jquery_validation/localization/messages_{{ locale_language_id }}.js"></script>
    {% endif %}
    {% block mediaJS %}{% endblock %}
    <!-- end scripts -->
</body>
</html>
